body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cfd448;
}

header {
    background: #333;
    color: #7bd3e4;
    padding: 10px 0;
    text-align: center;
}

.catalog {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}
 
.item {
    background: #a8395c;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 200px;
}

.item img {
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    margin: 20px 0;
}

form {
    margin: 20px;
}
